.[a-z]*
.[A-Z]*
uuid.state
config/*.local
config/database.yml
config/queueninja.yml
config/code_template.erb
RIDE*

log/*.log
log/*

log/mongrel_debug

db/*.sqlite3
db/*.db

README.rails_editor


script/ride
script/ride-console
