<!--    
//    Copyright 2008 Jayson Vaughn 
//    This file is part of Queue Ninja.

//    Queue Ninja is free software: you can redistribute it and/or modify
//    it under the terms of the GNU General Public License as published by
//    the Free Software Foundation, either version 3 of the License, or
//    (at your option) any later version.

//    Queue Ninja is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//    GNU General Public License for more details.
              
//    You should have received a copy of the GNU General Public License
//    along with Queue Ninja.  If not, see <http://www.gnu.org/licenses/>.
-->

<div style="font: normal 14px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;">Editing agent</div>
<form action="<%= R(AgentsController, :update, @agent.id ) %>" method="post">
  <p>
    Channel: <br />
    <input type="text" name="agent[channel]" value="<%= @agent.channel.to_s %>">
  </p>
  <p>
    First Name: <br />
    <input type="text" name="agent[first]" value="<%= @agent.first.to_s %>">
  </p>
  <p>
    Last Name: <br />
    <input type="text" name="agent[last]" value="<%= @agent.last.to_s %>">
  </p>
  <p>
    Extension: <br />
    <input type="text" name="agent[exten]" value="<%= @agent.exten.to_s %>">
  </p>
  <p>
    Group: <br />
  <select id=group_id" name="agent[group_id]">
  <option value="0">None</option>
  <% @groups.each do |group| %>
    <%= "<option value=\"#{group.id}\">#{group.name}</option>" %>
  <% end %>
  </select>
  </p>
  <p>
    <input type="submit" value="Update">
  </p>
</form>

<a href="<%= R(AgentsController, :show, @agent.id) %>">Show</a> |
<a href="<%= R(AgentsController, :index) %>"> Back</a>
