<ul>
  <li>
  	<a href="<%= R(MainController, :index) %>">Dashboard</a>
  </li>
  <li>
  	<a href="<%= R(MonitorController, :index) %>">Monitor</a>
  </li>
  <li>
  	<a href="<%= R(ReportsController, :index) %>" class="active">Reports</a>
  </li>
  <li>
  	<a href="<%= R(AdminController, :index) %>">Admin</a>
  </li>
</ul>

