<a href="<%= R(MainController, :index) %>" title="Dashboard">Dashboard</a>
<a href="<%= R(MonitorController, :index) %>" title="Monitor">Monitor</a>
<a href="<%= R(ReportsController, :index) %>" title="Reports">Reports</a>
<a href="<%= R(AdminController, :index) %>" title="Admin">Admin</a>
